* {
  box-sizing: border-box;
  --bc: #2c3347;
}

:root {
  --color: #02092c;
}

/* UTILITY */
.dimmed {
  color: rgb(142, 151, 173);
}

.sora {
  font-family: "Sora";
}

/* ======= */

/* LAYOUT */

body {
  margin: 0;
  background: transparent;
}

.makotools {
  font-family: "Sora";
  font-weight: 700;
}

/* CARD */

.card-stat {
  flex: 1 1 0;
  background: #212736;
  padding: 0.5em 0.7em;
  font-size: 2em;
  font-weight: 500;
  border-radius: 8px;
}
.card-stat-2 {
  background: #2c3347;
  margin-left: 8px;
}
.card-stat-3 {
  background: #3a4259;
  margin-left: 8px;
}

.card-stat-desc {
  font-size: 0.8em;
  font-weight: 500;
  display: inline;
  margin-right: 0.75em;
}

.card-skills {
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
}

.soon {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin-top: 5em;
  letter-spacing: 0.05em;
}

.card-skill {
  --color: rgb(60, 89, 209);
  padding: 0.25em 0em;
  font-size: 1.5em;
  font-weight: 500;

  /* border-left: solid 8px transparent; */
  padding-left: 1em;
  position: relative;
  margin-top: 12px;
}

.card-skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background: var(--color);
  border-radius: 999px;
}

.card-skill-live {
  --color: rgb(51, 154, 240);
}
.card-skill-support {
  --color: rgb(81, 207, 102);
}

.card-skill-name {
  /* font-size: 0em; */
  font-weight: 700;
  padding: 0.1em;
  display: inline-block;
  margin-right: 0.25em;
  color: var(--color);
  opactiy: 0.5;
}

/* 
// rgb(60, 89, 209) none repeat scroll 0% 0%
// rgb(51, 154, 240) none repeat scroll 0% 0%
// rgb(81, 207, 102) none repeat scroll 0% 0%
 */
